#home
	.bg
		form.form-inline
			h3 Be the first to know when StoveAlert becomes available
			.form-group
				input.form-control(placeholder='Full name')
			.form-group
				input.form-control(placeholder='Email')
			button.btn.btn-primary Notify me when there StoveAlert is available!
	.container
		.content
			.top
				.logo
					img(src='/assets/img/logo-transparent-stove-alert.png')
				.pitch
					p Cooking accidents are the leading cause of house fires. 
					p StoveAlert can help.
			.mid
				h3 StoveAlert is the world's first overhead stovetop sensor.
				p.
					blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
			.bottom
				.row
					.col-lg-4.feature
						img.icon(src='/assets/img/icon-gears.png')
						h4 Simple
						p Easy and quick installation
					.col-lg-4.feature
						img.icon(src='/assets/img/icon-sensor.png') 
						h4 Lightweight
						p Constantly monitors your stovetop
					.col-lg-4.feature
						img.icon(src='/assets/img/icon-mobile.png') 
						h4 Effecient
						p Sends an alert if overheating is detected

		.footer
			span &copy; 2014	StoveAlert