#home
	.bg
		.container
			form.form-inline(ng-hide='subscribe.sent')
				h3 Be the first to know when StoveAlert becomes available
				.form-group
					input.form-control(placeholder='Full name', ng-model='subscribe.name')
				.form-group
					input.form-control(placeholder='Email', ng-model='subscribe.email')
				button.btn.btn-primary(ng-click='subscribe.send()') Notify me when there StoveAlert is available!

			h3(ng-show='subscribe.sent') Thank you!

	.container
		.content
			.top
				.logo
					img(src='/assets/img/logo-transparent-stove-alert.png')
				.pitch
					p Cooking accidents are the leading cause of house fires. 
					p StoveAlert can help.
			.mid
				h3 StoveAlert is the world's first overhead stovetop sensor.
				p.
					Have you ever worried or feel anxious about leaving your stove top on? You were going to be back in 5 minutes? Have you burnt food? Have your stove accident caused damages?
					Stats: 7.2 billion is spent annually on home fire damages. Unattended cooking is the leading factor for cooking fires. Generally each fire damage cause $3,000 to $5,000, not including the time, the stress, and potential injuries.
					This is where Stove Alert would save the day! We will monitor from a magnet attachment to your fan. When it reaches an optimal heat temperature, it will send you customized alerts to your phone and a voice/buzzer alert. It will have snooze timer button if you want additional time. In the event of an unresponsive alert, it will automatically escalate to your next of contact. In addition, it will have a shutdown switch for your stove!
				p Example.
				p.
					I am boiling water. I fell asleep, I did not wake up to the messages. In 5 minutes it will text my roommate. No response, it will text my neighbour. No response, it will text the condo concierge. No response, it will next my landlord. It will continue going down the list until there is a respond reply.
					Now imagine, it will alert a nursing home when its elderly users do not respond to the buzzer. All these alerts are customizable for each contact and time limit.
					More important feature we will have shutdown option on electric stove tops.
					This is an easy set up option. Stick Stove Alert via a magnet to your fan (we will include a sticky option if otherwise). Set up your alerting patterns. And you, and your family or love ones will be protected.
					<a src='https://www.surveymonkey.com/s/K68DKPT' target='_blank'>Take our survey</a>, we would love to hear from you!

			.bottom
				.row
					.col-md-4.feature
						img.icon(src='/assets/img/icon-gears.png')
						h4 Simple
						p Easy and quick installation
					.col-md-4.feature
						img.icon(src='/assets/img/icon-sensor.png') 
						h4 Lightweight
						p Constantly monitors your stovetop
					.col-md-4.feature
						img.icon(src='/assets/img/icon-mobile.png') 
						h4 Efficent
						p Sends an alert if overheating is detected

		.footer
			span &copy; 2014	StoveAlert