#home
	.bg
		.container
			form.form-inline(ng-hide='subscribe.sent')
				h3 Be the first to know when StoveAlert becomes available
				.form-group
					input.form-control(placeholder='Full name', ng-model='subscribe.name')
				.form-group
					input.form-control(placeholder='Email', ng-model='subscribe.email')
				button.btn.btn-primary(ng-click='subscribe.send()') Notify me when there StoveAlert is available!

			h3(ng-show='subscribe.sent') Thank you!

	.container
		.content
			.top
				.logo
					img(src='/assets/img/logo-transparent-stove-alert.png')
				.pitch
					p Cooking accidents are the leading cause of house fires. 
					p StoveAlert can help.
			.mid
				h3 StoveAlert is a smart device that detects stovetop temperatures before an accident occurs. 
				p.
					StoveAlert monitors what's cooking, alerts you when the food gets too hot, 
					and let's you shut off the stove from anywhere with a simple tap on your phone. 
				p.
					Installed in one easy step, the device keeps an eye on what's cooking when you're not!

			.bottom
				.row
					.col-md-4.feature
						img.icon(src='/assets/img/icon-gears.png')
						h4 Simple
						p Easy and quick installation
					.col-md-4.feature
						img.icon(src='/assets/img/icon-sensor.png') 
						h4 Lightweight
						p Constantly monitors your stovetop
					.col-md-4.feature
						img.icon(src='/assets/img/icon-mobile.png') 
						h4 Efficent
						p Sends an alert if overheating is detected

		.footer
			span &copy; 2014	StoveAlert