// Mixins library
@import "../bower_components/bourbon/dist/bourbon";

@import "modules/all";
@import "mixins/all";

@import "ext/angular";

#home {
	form {
		margin-top: $margin-lg * 2;
		.form-group {
			margin-right: $margin-sm;
		}

		.btn.btn-primary {
			background-color: $primary-color;
			border-color: $primary-color * 1.2;
		}
	}

	$top-bg-height: 250px;
	.bg {
		@extend .background-cover;
		background-image: url(/assets/img/boiling-pot.jpg);
		width: 100%;
		height: $top-bg-height;
		position: fixed;
		border-bottom: 2px solid rgba(0,0,0,0.5);
		text-align: center;
		color: white;
		@media (max-width: 768px) {
			height: 480px;
		}
	}
	.footer {
		width: 100%;
		float: left;
		text-align: right;
		padding: $margin-lg;
		background-color: $footer-background-color;
		color: $footer-text-color;
	}

	.content {
		margin-top: $top-bg-height - $margin-lg;
		@media (max-width: 768px) {
			margin-top: 300px;
			font-size: 0.8em;
		}
		right: 0px;
		position: relative;

		.logo {
			width: 200px;
			position: absolute;
			left: 0px;
			img {
				width: 100%;
			}
		}

		.top {
			@extend .background-cover;
			background-image: url(/assets/img/stove-top.jpg);
			background-position: 100px;
			height: 400px;
			width: 100%;
			color: white;
			padding: 30px 0px 80px 200px;
			text-align: center;
			font-size: 1.7em;
			background-color: #ededed;
		}

		.mid {
			$bg-size: 30%;
			background-image: url(/assets/img/holding-phone.jpg);
			background-repeat: no-repeat;
			background-size: $bg-size;
			background-color: white;
			height: 400px;
			color: #bbb;
			padding-left:$bg-size;
			padding-right:$margin-lg * 2;
			padding-top: $margin-lg * 2;
			float: left;
		}

		.bottom {
			background-color: #6bcfcf;
			float: left;
			width: 100%;
		}

		.feature {
			padding: $margin-lg * 2;
			text-align: center;

			img {
				width: 100px;
				height: 100px;
			}

			h4 {
				color: #1f7f7d;
			}

			p {
				color: white;
			}
		}
	}
}