@mixin arrow-up($radius, $color) {
	width: 0; 
	height: 0; 
	border-left: $radius solid transparent;
	border-right: $radius solid transparent;
	border-bottom: $radius solid $color;
}

@mixin arrow-down($radius, $color) {
	width: 0; 
	height: 0; 
	border-left: $radius solid transparent;
	border-right: $radius solid transparent;
	
	border-top: $radius solid $color;
}

@mixin arrow-right($radius, $color) {
	width: 0; 
	height: 0; 
	border-top: $radius solid transparent;
	border-bottom: $radius solid transparent;
	
	border-left: $radius solid $color;
}

@mixin arrow-left($radius, $color) {
	width: 0; 
	height: 0; 
	border-top: $radius solid transparent;
	border-bottom: $radius solid transparent; 
	
	border-right:$radius solid $color; 
}