$text-color: #212121;
$background-color: #ddd;
$page-header-color: #ddd;
$footer-background-color: #595b67;
$footer-text-color: white;

$edit-background-color: #3498db;
$removed-background-color: #ddd;
$old-color: #bbb;
$old-background-color: #f1f1f1;

$default-color: #eeeeee;
$primary-color: #7164ac;
$success-color: #28b62c;
$info-color:    #75caeb;
$warning-color: #ff851b;
$danger-color:  #ff4136;
$note-color: gray;
$tip-color: #0A4157;
$highlight-color: #FFFDA1;

$mask-color: rgba(1,1,1,0.8);