$font-stack: 'Source Sans Pro', sans-serif;
$heading-font-stack: 'Source Sans Pro', sans-serif;
$navbar-font-size: 16px;
$hint-font-size: 10px;
$emboss-text-shadow: 0px 1px rgba(1,1,1,0.3);
$inset-text-shadow: 1px 1px rgba(255,255,255,.8);

$font-weight: 100;

$font-xs: 10px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 25px;
$font-xxl: 32px;

$typoClass: text;

// Font sizes
.#{$typoClass}-xs {
	font-size: $font-xs !important;
}
.#{$typoClass}-sm {
	font-size: $font-sm !important;
}
.#{$typoClass}-md {
	font-size: $font-md !important;
}
.#{$typoClass}-lg {
	font-size: $font-lg !important;
}
.#{$typoClass}-xl {
	font-size: $font-xl !important;
}

.#{$typoClass}-2x {
	font-size: 2em;
}

.#{$typoClass}-x3 {
	font-size: 3em;
}

.#{$typoClass}-x4 {
	font-size: 4em;
}

.#{$typoClass}-note {
	color: $note-color !important;
}

.#{$typoClass}-default {
	color: $default-color;
}

.#{$typoClass}-color {
	color: $text-color;
}

// Other
.#{$typoClass}-ellipses {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: normal;
}
.#{$typoClass}-underline {
	text-decoration: underline;
}
.#{$typoClass}-remove {
	text-decoration: line-through;
}
.#{$typoClass}-italic {
	font-style: italic;
}
.#{$typoClass}-bold {
	font-weight: bold;
}
.#{$typoClass}-normal {
	font-weight: normal;
}

.#{$typoClass}-nowrap {
	white-space:nowrap;
}

.pointer {
	cursor: pointer;
}

.#{$typoClass}-heading {
	font-family: $heading-font-stack;
}

.#{$typoClass}-upper {
	text-transform: uppercase!important;
}
.#{$typoClass}-lower {
	text-transform: lowercase!important;
}